.submit-message {
    padding: 17px 25px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    background-color: #1FDE82;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.5s ease;
    border: none;
    cursor: pointer;
    outline: none;
}

.submit-message:hover {
    background-color: rgb(31, 200, 130);
}

.modal-window .submit-message {
    margin: auto;
    display: flex;
    padding: auto 60px auto 60px;
}